@tailwind base;
@tailwind components;
@tailwind utilities;

* { @apply [color-scheme:dark]; }
body { @apply mocha text-text bg-crust p-4; }
header { @apply mb-2 px-4 flex flex-col justify-center items-center; }
a { @apply text-sapphire underline; }
h1 { @apply text-3xl; }
h2 { @apply text-2xl; }
h3 { @apply text-xl; }
li { @apply text-sm list-disc ml-6; }
svg { @apply inline; }
img.grayscale { @apply mix-blend-luminosity; }

button a { @apply no-underline text-subtext1; }
button:not(.nodefault) { @apply bg-surface1; }
button { @apply px-2 py-1 rounded-2xl; }

progress.warn { @apply bar-full:bg-yellow; }
div.chips { @apply rounded-2xl px-1.5 py-0.5 m-0.5 w-fit inline-block; }
div.chips:not(.nodefault) { @apply text-crust text-sm; }
div.card { @apply bg-base p-4 m-1; }
.btngroup { @apply inline-flex rounded-lg; }
.btngroup button { @apply inline-flex rounded-none first:rounded-s-2xl first:ms-0 last:rounded-e-2xl border border-crust; }
.warning { @apply text-yellow; }
span.online { @apply text-green; }
div.status { @apply bg-surface0 size-8 rounded-full h-fit flex justify-center items-center text-2xl; }

table { @apply min-w-full bg-base; }
progress { @apply bar-empty:bg-surface2 bar-full:bg-green w-full bar-full:transition-all bar-full:duration-200 h-2; }
progress.warn { @apply bar-full:bg-red; }
th { @apply bg-surface0; }
td, th { @apply border-crust border-solid border-2; }
tr.highlight td { @apply bg-surface0; }
td { @apply p-2; }
hr { @apply my-1 border-solid border-overlay0; }
th:has(input), td:has(input) { @apply text-center w-4; }

label { @apply font-bold; }
textarea { @apply resize; }
input:focus { @apply outline-none; }
input, textarea, select { @apply bg-surface0 accent-sapphire focus:outline-none active:outline-none; }
input:not([type="checkbox"]):not([type="radio"]), textarea, select { @apply block rounded-md p-1 bg-surface1 font-mono; }
input[type="number"] { @apply [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none; }
*[disabled] { @apply opacity-50 cursor-not-allowed; }
dialog form input { @apply mt-1 mb-2; }
dialog { @apply text-text bg-surface0 p-4 mx-auto border-2 border-crust; }
dialog::backdrop { @apply bg-crust opacity-50; }
.linewrap { @apply whitespace-pre-wrap; }

nav { @apply z-10 sm:z-auto bg-mantle flex justify-evenly sm:justify-center items-center gap-2 sm:gap-6 fixed bottom-0 py-2 w-screen max-h-16 sm:m-0 sm:static sm:bg-transparent sm:w-auto sm:py-0; }
nav a.active { @apply text-sapphire; }
nav a.active svg { @apply h-6 sm:w-auto sm:h-auto; }
nav a.active span { @apply text-xs sm:text-[1rem]; }
nav a { @apply py-2 sm:py-0 text-text no-underline flex flex-col sm:flex-row sm:gap-1 justify-center items-center; }
nav a svg { @apply w-10 h-10 sm:w-auto sm:h-auto; }
nav a span { @apply text-[0] sm:text-[1rem]; }
nav a * { @apply transition-all duration-200 ease-in-out; }
